.login-container {
    width: 100vw;
    height: 100vh;
    background-color: #626365;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box h1 img {
    width: 200px;
    margin-bottom: 2rem;
}

/* Link de "Esqueceu a senha?" */
.forgot-password {
    margin-top: 12px;
    display: inline-block;
    color: #C1C1C1;
    text-decoration: none;
}

.forgot-password:hover {
    color: #D86B06;
}

.logo {
    width: 447px;
    height: auto;
    display: block;
}