.input-container {
    position: relative;
    margin: 1rem 0;
}

.input-container img {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.input-container input {
    width: 100%;
    padding: 12px 12px 12px 48px;
    /* espaço para o ícone */
    border: 2px solid #C1C1C1;
    border-radius: 6px;
    background: transparent;
    color: #fff;
    font-size: 1rem;
}

.input-container input::placeholder {
    color: #C1C1C1;
}